apiVersion: v1
kind: Service
metadata:
  name: catalogue
  namespace: roboshop
  labels:
    project: roboshop
    environmet: dev
    tire: app
    component: catalogue
spec:
  selector:
    project: roboshop
    environmet: dev
    tire: app
    component: catalogue
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080